.header__grilla {
  display: grid;
  grid-template-areas: "headerLogo headerTitulo headerHipervinculos";
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(#50edf5, #c7f3ff, #50edf5); }
  .header__grilla .header__logo {
    grid-area: headerLogo;
    position: relative; }
    .header__grilla .header__logo .header__logoContainer {
      position: absolute;
      width: 250px;
      height: 110px;
      left: 0; }
      .header__grilla .header__logo .header__logoContainer .header__raysvgPosition {
        position: absolute;
        top: 19px;
        width: 64px;
        left: 178px;
        z-index: 1; }
      .header__grilla .header__logo .header__logoContainer .header__raysvgEffect {
        animation-name: efectoRayo;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-delay: 0s; }
      .header__grilla .header__logo .header__logoContainer .header__logosvgPosition {
        position: absolute;
        width: 250px;
        padding: 10px; }
  .header__grilla .header__titulo {
    grid-area: headerTitulo; }
    .header__grilla .header__titulo h1 {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      font-size: 40px;
      font: bold;
      color: blue;
      animation-duration: 2s;
      animation-name: nombreEmpresa; }
  .header__grilla .header__hipervinculos {
    grid-area: headerHipervinculos;
    display: flex;
    justify-content: flex-end;
    padding: 5px; }

@keyframes efectoRayo {
  0% {
    transform: rotateY(360deg); } }

@keyframes nombreEmpresa {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 920px) {
  .header__titulo {
    display: none; } }

@media only screen and (max-width: 350px) {
  .header__grilla .header__hipervinculos {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; } }

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px 0px 15px 0px; }
  .footer__container h2 {
    letter-spacing: 4px;
    text-transform: uppercase; }
  .footer__container .footer__subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
    flex-wrap: wrap; }
    .footer__container .footer__subContainer div {
      text-align: center;
      flex-direction: column;
      text-transform: uppercase;
      width: 210px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .footer__container .footer__subContainer div h3 {
        margin: auto; }
      .footer__container .footer__subContainer div a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: white; }
      .footer__container .footer__subContainer div p {
        margin-bottom: 0px;
        text-align: left;
        padding-left: 34px; }
  .footer__container .footer__seguinos h3 {
    text-transform: uppercase;
    padding: 0px 15px 0px 15px; }
  .footer__container .footer__seguinos div {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px; }

.nav2__container {
  background-color: #fff4e5;
  padding: 3px 0px 3px 15px; }
  .nav2__container .nav2__divContainer .navbar-nav {
    align-items: center; }
  .nav2__container .nav2__divContainer .nav2__divElements a {
    margin-right: 8px;
    margin-left: 8px; }
  .nav2__container .nav2__divContainer .nav2__divElements .element1 {
    width: 68px; }
  .nav2__container .nav2__divContainer .nav2__divElements .element2 {
    width: 100px; }
  .nav2__container .nav2__divContainer .nav2__divElements .element3 {
    width: 147px; }
  .nav2__container .nav2__divContainer .nav2__divElements .element4 {
    width: 115px; }
  .nav2__container .nav2__divContainer .nav2__divElements .element5 {
    width: 216px; }

.navbar-dark .navbar-toggler {
  border-color: black;
  background-color: black; }

.navbar-dark .navbar-nav .nav-link {
  color: black; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: black;
  font-weight: bold; }

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: black; }

@media only screen and (max-width: 992px) {
  .nav2__container .nav2__divContainer .nav2__divElements a {
    margin-left: 0px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; } }

.inicio__containerGeneral {
  display: flex;
  flex-direction: column;
  background-color: #ddecf1;
  font-weight: bold; }
  .inicio__containerGeneral .inicio__subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 130px 20px 130px; }
    .inicio__containerGeneral .inicio__subContainer:first-child {
      margin-top: 25px; }
    .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 500px;
      padding: 20px 0px 0px 0px; }
      .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__containerTitulo h2 {
        font-size: 28px; }
      .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__texto {
        font-size: 19px; }
  .inicio__containerGeneral img {
    width: 500px;
    border-radius: 15px;
    border: solid 2px grey; }

.inicio__effectOpacity {
  animation-name: efectoOpacity;
  animation-duration: 1.5s; }

@keyframes efectoOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 980px) {
  .inicio__containerGeneral .inicio__subContainer {
    padding: 0px 0px 20px 0px; } }

.section__Carousel {
  display: flex;
  justify-content: center;
  background-color: #ddecf1;
  padding: 20px 0 20px 0; }
  .section__Carousel button {
    opacity: 0.75; }
  .section__Carousel .div__Carousel {
    display: flex;
    justify-content: center;
    width: 500px; }
  .section__Carousel img {
    border: rgba(149, 142, 142, 0.438) 3px solid;
    border-radius: 10px;
    width: 500px; }

@media only screen and (max-width: 980px) {
  .inicio__containerGeneral .inicio__subContainer {
    padding: 0px 0px 20px 0px; } }

@media only screen and (max-width: 560px) {
  .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto {
    width: 340px;
    padding: 0px 0px 20px 0px; }
    .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__containerTitulo h2 {
      font-size: 26px; }
    .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__texto {
      font-size: 17px; }
  .section__Carousel .div__Carousel {
    width: 340px; }
  .section__Carousel img {
    width: 340px; } }

@media only screen and (max-width: 380px) {
  .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto {
    width: 290px;
    padding: 0px 0px 20px 0px; }
    .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__containerTitulo h2 {
      font-size: 24px; }
    .inicio__containerGeneral .inicio__subContainer .inicio__containerTexto .inicio__texto {
      font-size: 15px; }
  .section__Carousel .div__Carousel {
    width: 290px; }
  .section__Carousel img {
    width: 290px; } }

.contacto__container {
  padding-top: 5px;
  background-color: #ddecf1;
  display: flex;
  flex-direction: column; }
  .contacto__container .contacto__h2 {
    display: flex;
    justify-content: center; }
    .contacto__container .contacto__h2 h2 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 38px;
      padding: 30px 40px 0px 40px;
      border-bottom: black solid 2px;
      max-width: 80%; }
  .contacto__container .contacto__informacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px; }
    .contacto__container .contacto__informacion .contacto__bloques {
      text-align: center;
      min-width: 250px; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__svg {
        height: 60px;
        margin: 10px;
        display: flex;
        justify-content: center; }
        .contacto__container .contacto__informacion .contacto__bloques .contacto__svg img {
          width: 50px; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__texto h3 {
        padding-bottom: 10px;
        text-decoration: underline;
        text-transform: uppercase; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__texto p {
        text-align: center;
        font-weight: bold; }

.titulo__h3 {
  background-color: #ddecf1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 32px; }

.cliente__container {
  background-color: #ddecf1; }
  .cliente__container .cliente__subcontainer {
    background-color: #f8efed;
    border-top-right-radius: 500px 70px;
    border-top-left-radius: 500px 70px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto; }
    .cliente__container .cliente__subcontainer div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px 0 30px 0;
      align-items: center;
      min-width: 900px; }
      .cliente__container .cliente__subcontainer div img {
        max-width: 220px;
        margin: 0 30px 0 30px; }

@media only screen and (max-width: 856px) {
  .cliente__container .cliente__subcontainer div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    align-items: center;
    min-width: auto; }
    .cliente__container .cliente__subcontainer div img {
      margin-top: 30px;
      margin-bottom: 30px; }
  .contacto__container .contacto__h2 h2 {
    font-size: 31px; } }

@media only screen and (max-width: 670px) {
  .contacto__container .contacto__h2 h2 {
    font-size: 23px; }
  .contacto__container .contacto__informacion .contacto__bloques .contacto__texto h3 {
    font-size: 20px; }
  .contacto__container .contacto__informacion .contacto__bloques .contacto__texto p {
    font-size: 14px; }
  .titulo__h3 {
    font-size: 24px; } }

.equipamiento__container {
  background-color: #ddecf1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 35px 120px 35px 120px; }
  .equipamiento__container .equipamiento__bloque {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 425px; }
    .equipamiento__container .equipamiento__bloque .equipamiento__h3 h3 {
      text-align: center;
      text-decoration: underline black 3px;
      text-transform: uppercase; }
    .equipamiento__container .equipamiento__bloque .equipamiento__foto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 240px;
      margin: 20px; }
      .equipamiento__container .equipamiento__bloque .equipamiento__foto img {
        width: 330px;
        height: 250px;
        margin: 20px 0 20px 0;
        border-radius: 20%;
        transition: 1.5s; }
      @media only screen and (min-width: 600px) {
        .equipamiento__container .equipamiento__bloque .equipamiento__foto img:hover {
          width: 375px;
          height: 280px; } }
    .equipamiento__container .equipamiento__bloque .equipamiento__caracteristicas {
      display: flex;
      justify-content: center; }
      .equipamiento__container .equipamiento__bloque .equipamiento__caracteristicas .equipamiento__lista {
        font-size: 17px;
        font-weight: bold;
        color: rgba(5, 5, 5, 0.65); }

@media only screen and (max-width: 420px) {
  .equipamiento__container {
    display: flex;
    padding: 35px 15px 35px 15px; }
    .equipamiento__container .equipamiento__bloque .equipamiento__h3 h3 {
      font-size: 20px; }
    .equipamiento__container .equipamiento__bloque .equipamiento__foto {
      margin: 0px;
      width: auto; }
      .equipamiento__container .equipamiento__bloque .equipamiento__foto img {
        width: 275px;
        height: 220px; }
    .equipamiento__container .equipamiento__bloque .equipamiento__caracteristicas {
      justify-content: flex-start; }
      .equipamiento__container .equipamiento__bloque .equipamiento__caracteristicas .equipamiento__lista {
        font-size: 14px; } }

.form2_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 35px 0px 45px 0px;
  background-color: #ddecf1;
  flex-wrap: wrap; }
  .form2_container .form2_personal {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    min-height: 350px;
    padding-right: 20px;
    padding-left: 20px; }
    .form2_container .form2_personal .form2_list {
      margin-top: 25px;
      padding: 0; }
      .form2_container .form2_personal .form2_list li {
        align-items: center;
        font-size: 20px;
        padding: 0 0 40px 48px;
        list-style: none;
        background: url(../imagenes/checksvg.svg) no-repeat left;
        background-size: 35px 35px;
        background-position: 0 0;
        font-weight: bold; }
    .form2_container .form2_personal .form2_tituloTexto {
      font-size: 45px;
      font-weight: bold; }
  .form2_container .form2_formulario {
    width: 640px;
    min-height: 350px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    background-color: #7dd7f5;
    border-radius: 25px; }
    .form2_container .form2_formulario .form2_tituloContainer {
      display: flex;
      justify-content: center; }
      .form2_container .form2_formulario .form2_tituloContainer .form2_tituloFormulario {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 28px;
        padding: 15px 45px 0px 45px;
        border-bottom: black solid 1px;
        max-width: 85%; }
    .form2_container .form2_formulario form div {
      margin-top: 4px; }
    .form2_container .form2_formulario span {
      font-size: 17px;
      font-weight: bold; }
    .form2_container .form2_formulario .form2_contactoTelefono {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      border-top: solid black 1px;
      padding: 5px; }
    .form2_container .form2_formulario .form2_telefono {
      text-align: center;
      font-size: 19px;
      font-weight: bold; }
    .form2_container .form2_formulario form .form2_checkButton {
      margin-bottom: 15px; }
      .form2_container .form2_formulario form .form2_checkButton .form2_politicasContainer {
        margin: 0px; }
      .form2_container .form2_formulario form .form2_checkButton .form2_politicas {
        font-size: 15px;
        font-weight: bold; }
      .form2_container .form2_formulario form .form2_checkButton .form2_button {
        display: flex;
        justify-content: flex-end;
        margin: 0px;
        max-width: 150px; }

.form2_textAreaProperties {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 251, 251, 0.671); }

.form2_select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

.form2_inputColor {
  background-color: rgba(255, 251, 251, 0.671); }

@media only screen and (max-width: 1297px) {
  .form2_container {
    align-content: center;
    flex-direction: column-reverse;
    padding: 45px 0px 0px 0px; }
    .form2_container .form2_formulario {
      margin-bottom: 25px; } }

@media only screen and (max-width: 700px) {
  .form2_mediaQuery {
    display: flex;
    flex-direction: column; }
  .form2_container .form2_formulario {
    width: auto;
    margin-left: 20px;
    margin-right: 20px; }
  .form2_container
.form2_formulario
.form2_tituloContainer
.form2_tituloFormulario {
    font-size: 20px; }
  .form2_container .form2_formulario span {
    font-size: 14px; }
  .form2_container .form2_personal .form2_tituloTexto {
    font-size: 35px; }
  .form2_container .form2_personal .form2_list li {
    font-size: 15px;
    background-size: 30px 30px; } }

@media only screen and (max-width: 490px) {
  .form2_container .form2_formulario form .form2_checkButton {
    flex-direction: column; }
    .form2_container .form2_formulario form .form2_checkButton .form2_button {
      display: flex;
      max-width: 100%;
      justify-content: center; } }

.servicios__container {
  background-color: #ddecf1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 35px 130px 0px 130px; }
  .servicios__container .servicios__bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 20px 10px;
    width: 520px; }
    .servicios__container .servicios__bloque .servicios__titulo h2 {
      font-size: 28px;
      text-decoration: underline black 3px;
      text-transform: uppercase;
      text-align: center; }
    .servicios__container .servicios__bloque .servicios__texto {
      padding-bottom: 20px;
      font-size: 19px;
      font-weight: bold; }

iframe {
  width: 450px;
  height: 315px; }

.table {
  border-color: black; }

@media only screen and (max-width: 900px) {
  .servicios__container {
    padding: 35px 0px 0px 0px; } }

@media only screen and (max-width: 560px) {
  .servicios__container {
    padding: 35px 0px 0px 0px; }
    .servicios__container .servicios__bloque {
      padding: 0px 20px 20px 15px; }
      .servicios__container .servicios__bloque .servicios__titulo h2 {
        font-size: 26px; }
      .servicios__container .servicios__bloque .servicios__texto {
        font-size: 17px; }
  iframe {
    width: 340px;
    height: 240px; } }

@media only screen and (max-width: 380px) {
  .servicios__container {
    padding: 35px 0px 0px 0px; }
    .servicios__container .servicios__bloque {
      padding: 0px 20px 20px 15px; }
      .servicios__container .servicios__bloque .servicios__titulo h2 {
        font-size: 24px; }
      .servicios__container .servicios__bloque .servicios__texto {
        font-size: 15px; }
  iframe {
    width: 290px;
    height: 204px; } }
