// pagina contacto

// titulo
.contacto__container {
  padding-top: 5px;
  background-color: #ddecf1;
  display: flex;
  flex-direction: column;
  // container del titulo
  .contacto__h2 {
    display: flex;
    justify-content: center;
    // titulo
    h2 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 38px;
      padding: 30px 40px 0px 40px;
      border-bottom: black solid 2px;
      max-width: 80%;
    }
  }
  // container informacion
  .contacto__informacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
    // container individual
    .contacto__bloques {
      text-align: center;
      min-width: 250px;
      // div svg
      .contacto__svg {
        height: 60px;
        margin: 10px;
        display: flex;
        justify-content: center;
        // svg
        img {
          width: 50px;
        }
      }
      // div texto
      .contacto__texto {
        h3 {
          padding-bottom: 10px;
          text-decoration: underline;
          text-transform: uppercase;
        }
        p {
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
// titulo de empresas
.titulo__h3 {
  background-color: #ddecf1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 32px;
}

// clientes

.cliente__container {
  background-color: #ddecf1;
  .cliente__subcontainer {
    background-color: #f8efed;
    border-top-right-radius: 500px 70px;
    border-top-left-radius: 500px 70px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px 0 30px 0;
      align-items: center;
      min-width: 900px;
      img {
        max-width: 220px;
        margin: 0 30px 0 30px;
      }
    }
  }
}

// Media querys

@media only screen and (max-width: 856px) {
  .cliente__container {
    .cliente__subcontainer {
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        align-items: center;
        min-width: auto;
        img {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .contacto__container{
    .contacto__h2{
      h2{
        font-size: 31px;
      }
    }
  }
}

// tamaño de letras 
@media only screen and (max-width: 670px){
  .contacto__container{
    .contacto__h2{
      h2{
        font-size: 23px;
      }
    }
  }
  .contacto__container .contacto__informacion .contacto__bloques .contacto__texto h3{
    font-size: 20px;
  }
  .contacto__container .contacto__informacion .contacto__bloques .contacto__texto p{
    font-size: 14px;
  }
  .titulo__h3{
    font-size: 24px;
  }
}




