// servicios

// contenedor general
.servicios__container {
  background-color: #ddecf1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 35px 130px 0px 130px;
  //   contenedor de bloques
  .servicios__bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 20px 10px;
    width: 520px;
    // contenedor de titulo
    .servicios__titulo {
      // titulo
      h2 {
        font-size: 28px;
        text-decoration: underline black 3px;
        text-transform: uppercase;
        text-align: center;
      }
    }
    // contenedor de texto
    .servicios__texto {
      padding-bottom: 20px;
      font-size: 19px;
      font-weight: bold;
    }
    // contenedor de video
    .servicios__video {
    }
    .servicios__tabla {
    }
  }
}
//   tamaño video
iframe {
  width: 450px;
  height: 315px;
}

// color de borde de tabla
.table {
  border-color: black;
}

// media querys tamaño de fuente y video

@media only screen and (max-width: 900px) {
  .servicios__container {
    padding: 35px 0px 0px 0px;
  }
}

@media only screen and (max-width: 560px) {
  .servicios__container {
    padding: 35px 0px 0px 0px;
    .servicios__bloque {
        padding: 0px 20px 20px 15px;
      .servicios__titulo {
        h2 {
          font-size: 26px;
        }
      }
      .servicios__texto {
        font-size: 17px;
      }
    }
  }
  //   tamaño video
  iframe {
    width: 340px;
    height: 240px;
  }
}

@media only screen and (max-width: 380px) {
  .servicios__container {
    padding: 35px 0px 0px 0px;
    .servicios__bloque {
        padding: 0px 20px 20px 15px;
      .servicios__titulo {
        h2 {
          font-size: 24px;
        }
      }
      .servicios__texto {
        font-size: 15px;
      }
    }
  }
  //   tamaño video
  iframe {
    width: 290px;
    height: 204px;
  }
}
