// // formulario

// .form__container {
//   background-color: #ddecf1;
//   display: flex;
//   flex-direction: column;
//   padding: 20px 0 20px 0;
//   .form__bloque {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     padding: 0 30px 0 30px;
//     .form__casilla {
//       padding: 0 20px 20px 0;
//       text-transform: uppercase;
//       font-weight: bold;
//       input {
//         background-color: rgb(221, 220, 220);
//       }
//       select {
//         background-color: rgb(221, 220, 220);
//       }
//     }
//   }
//   .form__areaTexto {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     textarea {
//       background-color: rgb(221, 220, 220);
//     }
//     p {
//       text-transform: uppercase;
//       font-weight: bold;
//     }
//   }
//   .form__botones {
//     display: flex;
//     justify-content: center;
//     .form__botonVerde {
//       padding-right: 15px;
//     }
//     .form__botonRojo {
//       padding-left: 15px;
//     }
//   }
// }

// formulario 2

.form2_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 45px 0px 45px 0px;
  background-color: #ddecf1;
  flex-wrap: wrap;
  .form2_personal {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    min-height: 350px;
    padding-right: 20px;
    padding-left: 20px;
    .form2_list {
      margin-top: 25px;
      padding: 0;
      li {
        align-items: center;
        font-size: 20px;
        padding: 0 0 40px 48px;
        list-style: none;
        background: url(../imagenes/checksvg.svg) no-repeat left;
        background-size: 35px 35px;
        background-position: 0 0;
        font-weight: bold;
      }
    }
    .form2_tituloTexto {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: bold;
    }
  }
  .form2_formulario {
    width: 640px;
    min-height: 350px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    background-color: #0842984f;
    border-radius: 25px;
    .form2_tituloContainer {
      display: flex;
      justify-content: center;
      .form2_tituloFormulario {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 28px;
        padding: 15px 45px 0px 45px;
        border-bottom: black solid 1px;
        max-width: 85%;
      }
    }
    form {
      div {
        margin-top: 4px;
      }
    }
    span {
      font-size: 17px;
      font-weight: bold;
    }
    .form2_contactoTelefono {
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      border-top: solid black 1px;
      padding: 5px;
    }
    .form2_telefono {
      text-align: center;
      font-size: 19px;
      font-weight: bold;
    }
    form {
      .form2_checkButton {
        .form2_politicasContainer {
          margin: 0px;
        }
        .form2_politicas {
          font-size: 15px;
          font-weight: bold;
        }
        .form2_button {
          display: flex;
          justify-content: flex-end;
          margin: 0px;
        }
      }
    }
  }
}

.form2_textAreaProperties {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 251, 251, 0.671);
}
.form2_select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form2_inputColor {
  background-color: rgba(255, 251, 251, 0.671);
}

@media only screen and (max-width: 1297px) {
  .form2_container {
    align-content: center;
    flex-direction: column-reverse;
    .form2_formulario {
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .form2_mediaQuery {
    display: flex;
    flex-direction: column;
  }
  .form2_container .form2_formulario {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .form2_container
    .form2_formulario
    .form2_tituloContainer
    .form2_tituloFormulario {
    font-size: 20px;
  }

  .form2_container .form2_formulario span {
    font-size: 14px;
}

.form2_container .form2_personal .form2_tituloTexto {
  font-size: 35px;
}

  .form2_container .form2_personal .form2_list li {
    font-size: 15px;
    background-size: 30px 30px;
  }
}
